<mat-toolbar class="m-0  yellow-9 text-white">
  <i class="material-icons mr-2">directions_bike</i> Team List
  <span class="fill-remaining-space"></span>
  <a routerLink="/team-new" class="btn btn-info float-right mt-2"
    ><mat-icon>add_circle_outline</mat-icon></a
  >
</mat-toolbar>

<div class="row p-2">
  <table class="table bg-white m-2 text-dark">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th></th>
        <th>Tag Line</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let golden of goldendata">
        <td scope="row">{{ golden.id }}</td>
        <td>{{ golden.name }}</td>
        <td>
          <img
            width="80px;"
            src="http://rpsrobosoft.com/laravel/storage/app/{{ golden.image }}"
            alt="Card image cap"
            *ngIf="golden.image"
          />
        </td>
        <td>{{ golden.tag_line }}</td>
        <td>
          <button
            (click)="deleteteam(golden.id)"
            class="btn btn-warning text-dark float-right m-2"
          >
            Delete
          </button>
        </td>
        <td>
          <button
            routerLink="/team-edit/{{ golden.id }}"
            class="btn btn-warning text-dark float-right m-2"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-12">
  <ul class="pagination">
    <div *ngIf="prev == 0; else elseBlock">
      <li class="page-item disabled">
        <span class="page-link">&laquo; Previous</span>
      </li>
    </div>
    <ng-template #elseBlock>
      <li class="page-item">
        <a class="page-link" routerLink="/team-list/{{ prev }}">
          &laquo; Previous
        </a>
      </li>
    </ng-template>
    <div *ngIf="next > last_page; else elsenext">
      <li class="page-item disabled">
        <span class="page-link">Next &raquo;</span>
      </li>
    </div>
    <ng-template #elsenext>
      <li class="page-item">
        <a class="page-link" routerLink="/team-list/{{ next }}"
          >Next &raquo;</a
        >
      </li>
    </ng-template>
  </ul>
</div>
