<div class="container shadow">
  <div class="row">
    <div class="col-md-12 col-lg-12 m-0 p-0">
      <img
        src="{{ imagepath }}{{ Image }}"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 p-3 pt-4">
      <div
        class="alert alert-primary shadow"
        role="alert"
        style="background-color:#000000"
      >
        <p class="text-white">
          With an aim to carve a niche in the field of media and entertainment
          industry, Art Pickle, is ready to expand its wings and open new,
          creative horizons for passionate story-tellers and artistic students
          in Nagpur. With the addition of some of the most well-recognized names
          from the media industry as their alumni and faculty members, Art
          Pickle, aims to provide the most real, hands-on experience of being a
          part of the industry to all its students. From RJ-ing, sound dubbing,
          acting, sound engineering to script writing; our institute would cater
          to all the creative demands of the gen-next under one roof.
        </p>
      </div>
    </div>
  </div>
</div>