<mat-toolbar class="m-0 bg-dark text-white">
  <i class="material-icons mr-2">directions_bike</i> Team Update
  <span class="fill-remaining-space"></span>
</mat-toolbar>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="container-fluid m-0 p-0 mb-5">
    <div class="row">
      <div class="mt-2 col-12 mb-5">
        <div class="card shadow">
          <div class="card-body">
            <div class="form-group row">
              <div class="col-sm-6">
                <input
                  type="hidden"
                  name="id"
                  class="form-control "
                  formControlName="id"
                />
              </div>
              <div class="col-sm-12">
                <label for="name" class="col-12 col-form-label  m-0 p-0"
                  >Title</label
                >
                <input
                  name="title"
                  class="form-control"
                  formControlName="title"
                />
              </div>

              <div class="col-sm-12">
                <label for="css" class="col-12 col-form-label  m-0 p-0"
                  >Header Background colour</label
                >
                <select class="form-control" id="css" formControlName="css">
                  <option
                    *ngFor="let cssval of cssvalue"
                    [value]="cssval.style"
                    >{{ cssval.name }}</option
                  >
                </select>
              </div>
              <div class="col-12">
                <label
                  for="description"
                  class=" col-form-label m-0 p-0 text-light"
                  >Description</label
                >
                <ckeditor type="text" formControlName="description"></ckeditor>
              </div>

              <div class="col-sm-12">
                <label for="photo_link" class="col-12 col-form-label  m-0 p-0"
                  >Photo</label
                >
                <input
                  type="file"
                  (change)="onFileSelected($event)"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-12">
              <button
                type="submit"
                [disabled]="!profileForm.valid"
                class="btn btn-warning float-right m-2"
              >
                Submit
              </button>
            </div>
              {{ profileForm.value | json }} 
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
