<div class="container">
  <div class="row" *ngIf="top">
    <div class="col-md-12 col-lg-12 m-0 p-0">
      <img
        src="{{ imagepath }}{{ top }}"
        class="img-fluid"
        style="width:100%"
        alt="Responsive image"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-4 pt-3" *ngFor="let voice of newsdata">
      <div class="card text-center">
        <img
          class="card-img-top"
          src="{{ imagepath }}{{ voice.image }}"
          width="100%"
          height="200px;"
          alt=""
        />
        <div class="card-body">
          <p class="card-title">
            <a
              routerLink="/album-detail/{{ voice.id }}/1"
              class="btn btn-primary"
              >{{ voice.title }}</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <ul class="pagination">
        <div *ngIf="prev == 0; else elseBlock">
          <li class="page-item disabled">
            <span class="page-link">&laquo; Previous</span>
          </li>
        </div>
        <ng-template #elseBlock>
          <li class="page-item">
            <a class="page-link" routerLink="/album/{{ prev }}">
              &laquo; Previous
            </a>
          </li>
        </ng-template>
        <div *ngIf="next > last_page; else elsenext">
          <li class="page-item disabled">
            <span class="page-link">Next &raquo;</span>
          </li>
        </div>
        <ng-template #elsenext>
          <li class="page-item">
            <a class="page-link" routerLink="/album/{{ next }}">Next &raquo;</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</div>
