<div class="container shadow">
  <div class="row">
    <div class="col-md-12 col-lg-12 m-0 p-0">
      <img src="assets/logo.png" alt="image">
      <img src="{{ imagepath }}{{ Image }}" class="img-fluid" alt="Responsive image" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 p-3 pt-4">
      <div class="alert alert-primary shadow" role="alert" style="background-color:#000000">
        <p class="text-white">
          With an aim to carve a niche in the field of media and entertainment
          industry, Art Pickle, is ready to expand its wings and open new,
          creative horizons for passionate story-tellers and artistic students
          in Nagpur. With the addition of some of the most well-recognized names
          from the media industry as their alumni and faculty members, Art
          Pickle, aims to provide the most real, hands-on experience of being a
          part of the industry to all its students. From RJ-ing, sound dubbing,
          acting, sound engineering to script writing; our institute would cater
          to all the creative demands of the gen-next under one roof.
        </p>
      </div>
    </div>
    <div class="row p-4 shadow">
      <div class="col-md-4 col-lg-4 p-2 ">
        <div class="card shadow" style="background-color:#000000">
          <img class="card-img-top" src="http://www.artpickle.in/lara/storage/app/{{ vision }}" alt="Card image cap" />
          <div class="card-body text-white">
            <h5 class="card-title">Our Vision</h5>
            <p class="card-text">
              In today’s world, where artistic and creative forms of mass
              communication is dominating the entire media space, our vision is
              to provide a platform to our students which can ensure top notch
              and world-class standard of media and creative studies.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 p-2">
        <div class="card shadow" style="background-color:#000000">
          <img class="card-img-top" src="http://www.artpickle.in/lara/storage/app/{{ aim }}" alt="Card image cap" />
          <div class="card-body text-white">
            <h5 class="card-title">Our Aim</h5>
            <p class="card-text">
              Our aim is to emerge as the pioneer of media education and
              training in Nagpur without any social or cultural barrier. We aim
              to bring in young, talented students and train them to be
              excellent media personnels, budding entrepreneurs and change
              makers.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 p-2">
        <div class="card shadow" style="background-color:#000000">
          <img class="card-img-top" src="http://www.artpickle.in/lara/storage/app/{{ weoffer }}" alt="Card image cap" />
          <div class="card-body text-white">
            <h5 class="card-title">What we offer</h5>
            <p class="card-text">
              <li>Celebrated names</li>
              <li>Rich, enriching workshop with the working professionals</li>
              <li>Discussion/ Feedback</li>
              <li>State-of-the-art technology</li>
              <li>Refreshing learning curve</li>
              <br />
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-4">
      <div class="col-md-8 col-lg-8 p-2">
        <div class="card bg-light shadow">
          <div class="card-body">
            <h2>Our Vision</h2>
            <p>
              In today’s world, where artistic and creative forms of mass
              communication is dominating the entire media space, our vision is
              to provide a platform to our students which can ensure top notch
              and world-class standard of media and creative studies.
            </p>
            <h2>Our Aim</h2>
            <p>
              Our aim is to emerge as the pioneer of media education and
              training in Nagpur without any social or cultural barrier. We aim
              to bring in young, talented students and train them to be
              excellent media personnels, budding entrepreneurs and change
              makers.
            </p>
            <h2>What we offer</h2>
            <p>
              Celebrated names: Well-known names from the media, film,
              television, business and social verticals of the society, visit
              our institute as guest speakers/moderators and guide. They not
              only share their experience but also help in channelizing students
              towards the verticals where they can make the most amount of
              progress through one-on-one interactions.
            </p>
            <p>
              Rich, enriching workshop with the working professionals: With a
              heavy line-up of our well-qualified alumni, who are now renowned
              names in the industry, we make sure that each one of our student
              gets a personalised real-time interaction with our experts. Our
              interactive workshops ensure rich, enlightening sessions with the
              crème de la crème of the media industry.
            </p>
            <h2>Discussion/ Feedback:</h2>
            <p>
              With the number of student admissions restricted in each batch, we
              focus on each one of our students, completely. We believe that the
              next generation of professionals can only reach the pinnacle of
              success through constant and continuous discussions/ projects/
              assignments/ reviews and feedback.
            </p>
            <p>
              State-of-the-art technology: With its cutting edge technological
              advances, latest softwares, high quality studios and excellent
              teaching methods, Art Pickle, has emerged as one of the leading
              media institutes in Pune and commits to reach the same level of
              expertise in Nagpur too.
            </p>
            <p>
              Refreshing learning curve: With our dynamic and interactive
              teaching process, we provide a refreshing learning experience to
              our students. Less of theoretical and more of on-the-field
              classes, enables our students get a real-time experience and
              understanding of what are the challenges, expectations and demands
              of a being working media professional.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 p-2">
        <div class="card shadow" style="background-color:#000000">
          <img class="card-img-top" src="http://www.artpickle.in/lara/storage/app/{{ placement }}"
            alt="Card image cap" />
          <div class="card-body text-white">
            <h5 class="card-title">Our Placements</h5>
            <p class="card-text">
              <li>Rj Shruti - Radio Mirchi, Bahrain</li>
              <li>Rj Niketa - My FM</li>
              <li>Rj Anurag - Radio Orange</li>
              <li>Rj Akash - Radio Orange</li>
              <li>Harshal - Radio Orange</li>
              <li>Gajanan Thakre - Assistant Music Manager</li>
              <li>Rj Rasika - My FM. Solapur</li>
              <br />
            </p>
            <a href="placement.html" class="btn btn-primary">More Placement</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>